h1 {
    margin-left: 25px;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .interested-profile-image {
        background-size: cover;
        height: 350px;
        width: 350px;
        margin: 0 auto;
    }

    .interested-actions {
       /*float: right;*/
        margin: 15px;
        text-align: -webkit-right;
    }

    .interested-actions .love{
        color: #f01f61;
    }
    .interested-actions .small-heart{
        font-size: 0.8em;
    }
    .interested-actions .skip{
        color: #1ff06c;
    }
    .navbar-inverse{
        background-color: #f01f61;
        border-color: #f01f61;
        color:white;
    }
    .navbar-brand{
        background-color: #f01f61;
        border-color: #f01f61;
        color:white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: white;
    }

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

